<div>
    <a href="home">In Da House</a>
</div>
<div>
    <ul>
        <li><a href="about">会社概要</a></li>
        <li><a href="contact">お問い合わせ</a></li>
        <li><a href="recruit">採用情報</a></li>
        <li><a href="ir">IR情報</a></li>
        <li><a href="news">ニュース</a></li>
        <li><a href="logout">Log out</a></li>
    </ul>
</div>